.idea

*.class
*.log
*.log.*
/*.war
/*.zip
/*.zip.sha1
/target
*/target/
target
/pmd-xml/target
target
target
target
target
pmd-cpp
pmd-cs
pmd-dist
pmd-swift
pmd-cpp
pmd-cs
pmd-dist
pmd-fortran
pmd-go
pmd-groovy
pmd-java8
pmd-javascript
pmd-jsp
pmd-matlab
pmd-objectivec
pmd-perl
pmd-php
pmd-plsql
pmd-python
pmd-ruby
pmd-scala
pmd-fortran
pmd-go
pmd-groovy
pmd-java8
pmd-javascript
pmd-matlab
pmd-objectivec
pmd-jsp
pmd-perl
pmd-plsql
pmd-python
pmd-php
/pmd-swift
/pmd-ruby
/pmd-scala
pmd-ruby
pmd-scala
pmd-swift
pmd-scala
pmd-ruby
